.card-layout {
  width: 300px;
  margin-right: 30px;
  border: 1px solid #ccc;
  border-radius: 40px;
}

.card-header {
  width: 100%;
  padding: 10px;
  min-height: 50px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}

.card-body {
  width: 100%;
  min-height: 150px;
  padding: 10px;
}

.card-footer {
  width: 100%;
}
